:root {
    --primary-light: #F1F7ED;
    --primary-dark: #243E36;
    --background-green: #7CA982;
  }

html {
    scroll-padding-top: 40px; /* Add this to ensure proper scroll position */
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-green);
    color: var(--primary-light);
    padding-top: 60px; /* Add this line */
}

.section {
    scroll-margin-top: 10px; /* padding to stop nav hiding header */
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--primary-light);
    border-radius: 5px;
    background-color: var(--primary-dark);
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: auto;
}

form input,
form textarea {
    color: var(--primary-light) !important;
    background-color: var(--primary-dark) !important;
}

.navbar {
    background-color: var(--primary-dark) !important;
    border-bottom: 2px solid var(--primary-light) !important;
}

.navbar-brand,
.nav-link {
    color: var(--primary-light) !important;
}

.navbar-toggler {
    background-color: var(--primary-light) !important;
}

.nav-link:hover {
    color: var(--background-green) !important;
}

.btn-primary {
    background-color: var(--background-green) !important;
    border-color: var(--primary-light) !important;
    color: var(--primary-light) !important;
}

.btn-primary:hover {
    background-color: var(--primary-light) !important;
    color: var(--primary-dark) !important;
    border-color: var(--background-green) !important;
}

.list-group-item {
    background-color: var(--background-green) !important;
    color: var(--primary-dark) !important;
    border-color: var(--primary-light) !important;
}